body {
    width: 300px;
    height: 500px;
    color: #171717;
    background-color: #ffffff;
    font-family: sans-serif;
    padding: 10px;
    padding-bottom: 20px;
    margin: 0 0 20px 0px;
    overflow: scroll;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    user-select: none;
}
h1 {
    color: #171717;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
a {
    color: #171717;
    text-decoration: none;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.dot.red {
    background-color: red;
}
.dot.green {
    background-color: seagreen;

}
.nav-img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #171717;
}
.nav-left{
    display: flex;
    flex-direction: row;

}
.divider {
    margin: 20px 0 10px 0;
}
.error-text{
    color: red;
    font-size: 5px;
    margin: 0 0 10px 0;
}
.menuItem {
    width: 100%;
    height: 40px;
    color: #171717;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}
.menuItem-gold{
    /* From https://css.glass */

    background: rgba(254, 241, 24, 0.80);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border: 1px solid rgba(254, 241, 24, 1);

    width: 100%;
    height: 40px;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.menu-divider {
    width: 100%;
    height: 1px;
    background-color: #c1cfda;
    opacity: 0.5;
}
.space {
    margin: 10px;
}
.voice-text {
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.version-number {
    font-size: 14px;
    font-weight: normal;
    columns: #666;
    margin-left: 5px;
}
.last-update {
    font-size: '5px';
}
.health-check {
    font-size: 14px;
    font-weight: normal;
    color: seagreen;
    font-size: 30px;
    margin-right: 20px;
}
.icon-title {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.icon-right {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.menu-title {
    margin-left: 5px;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    width: 100%;
    margin: 0 0 10px 0;
}
/* Dropdown Button */
.dropbtn {
    color: black;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    width: 120px;
    font-size: 15px;
    background: rgba(228, 228, 228, 0.27);
    border-radius: 16px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(228, 228, 228, 1);
    cursor: pointer;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    opacity: 0;
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #ffffff;
    min-width: 250px;
    max-height: 300px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border-radius: 5px;
    left: 0;
    overflow-x: hidden;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown-content p {
    margin: 0 0 5px 0;
}
.dropdown.active > .dropbtn + .dropdown-content{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.bottom-nav {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 10px;
}
.bottom-nav-text{
    font-weight: lighter;
    font-size: 10px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    border-radius: 10px;
}

.dropdown-content-quality {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 250px;
    max-height: 400px;
    overflow: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border-radius: 5px;
    left: 0;
    overflow-x: hidden;
}
.item {
    display: flex;
}
.name {
    color: '#000';
}
.pill {
    font-size: 12px;
    color: grey;
    border: 2;
}
#content-quality {
    overflow-y: none;
}
/* Media query to handle cases where the dropdown might go off screen */
@media (max-width: 500px) { /* Adjust 500px based on your requirements */
    .dropdown-content {
      left: auto; /* Reset left value */
      right: 0; /* Align the right edge of the dropdown with the container */
    }
  }
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.redText {
    color: red;
}
.greenText { 
    color: green;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* p {
    color: grey;
} */
.AudioButton {
    background-color: seagreen;
    color: whitesmoke;
    width: 20vw;
}
.audio-component {
    width: 390px; /* Set a fixed width */
    height: 15vh;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}
.character-div {
    font-size: 12px;
    overflow: scroll;
}

.sub-component {
    margin: 10px;
    width: 300px; /* Set a fixed width */
}

.component-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.component-info {
    font-size: 12px;
    color: #666;
}
.load-more{
    width: 40%;
    height: 30px;
    color: gray; 
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30% 0 30%;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS */
.myHoverButton {
    display: none; /* Hidden by default */
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

p:hover + #myHoverButton {
    transition: 0.3s;
    display: block; /* Show the button on paragraph hover */
    color: aqua;
}
.email{
    font-style: bold;
}
.menu {
    height: 480px;
    margin-bottom: 10px;
}